/*
   12 Tháng Tám 202003:17:43 CH
   User: 
   Server: DESKTOP-PINKVLI\SQLEXPRESS
   Database: CONGTY
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.NHANVIEN.MaNhanVien', N'Tmp_MANHANVIEN', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHANVIEN.Ho', N'Tmp_HO_1', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHANVIEN.Ten', N'Tmp_TEN_2', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHANVIEN.NgaySinh', N'Tmp_NGAYSINH_3', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHANVIEN.NgayLamViec', N'Tmp_NGAYLAMVIEC_4', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHANVIEN.DiaChi', N'Tmp_DIACHI_5', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHANVIEN.DienThoai', N'Tmp_DIENTHOAI_6', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHANVIEN.LuongCoBan', N'Tmp_LUONGCOBAN_7', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHANVIEN.PhuCap', N'Tmp_PHUCAP_8', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHANVIEN.Tmp_MANHANVIEN', N'MANHANVIEN', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHANVIEN.Tmp_HO_1', N'HO', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHANVIEN.Tmp_TEN_2', N'TEN', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHANVIEN.Tmp_NGAYSINH_3', N'NGAYSINH', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHANVIEN.Tmp_NGAYLAMVIEC_4', N'NGAYLAMVIEC', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHANVIEN.Tmp_DIACHI_5', N'DIACHI', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHANVIEN.Tmp_DIENTHOAI_6', N'DIENTHOAI', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHANVIEN.Tmp_LUONGCOBAN_7', N'LUONGCOBAN', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHANVIEN.Tmp_PHUCAP_8', N'PHUCAP', 'COLUMN' 
GO
ALTER TABLE dbo.NHANVIEN SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.NHANVIEN', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.NHANVIEN', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.NHANVIEN', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.NHACUNGCAP.MaCongTy', N'Tmp_MACONGTY_9', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHACUNGCAP.TenCongTy', N'Tmp_TENCONGTY_10', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHACUNGCAP.TenGiaoDich', N'Tmp_TENGIAODICH_11', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHACUNGCAP.DiaChi', N'Tmp_DIACHI_12', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHACUNGCAP.DienThoai', N'Tmp_DIENTHOAI_13', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHACUNGCAP.Fax', N'Tmp_FAX_14', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHACUNGCAP.Email', N'Tmp_EMAIL_15', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHACUNGCAP.Tmp_MACONGTY_9', N'MACONGTY', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHACUNGCAP.Tmp_TENCONGTY_10', N'TENCONGTY', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHACUNGCAP.Tmp_TENGIAODICH_11', N'TENGIAODICH', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHACUNGCAP.Tmp_DIACHI_12', N'DIACHI', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHACUNGCAP.Tmp_DIENTHOAI_13', N'DIENTHOAI', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHACUNGCAP.Tmp_FAX_14', N'FAX', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.NHACUNGCAP.Tmp_EMAIL_15', N'EMAIL', 'COLUMN' 
GO
ALTER TABLE dbo.NHACUNGCAP SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.NHACUNGCAP', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.NHACUNGCAP', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.NHACUNGCAP', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.MATHANG.MaHang', N'Tmp_MAHANG_16', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MATHANG.TenHang', N'Tmp_TENHANG_17', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MATHANG.MaCongTy', N'Tmp_MACONGTY_18', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MATHANG.MaLoaiHang', N'Tmp_MALOAIHANG_19', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MATHANG.SoLuong', N'Tmp_SOLUONG_20', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MATHANG.DonViTinh', N'Tmp_DONVITINH_21', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MATHANG.GiaHang', N'Tmp_GIAHANG_22', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MATHANG.Tmp_MAHANG_16', N'MAHANG', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MATHANG.Tmp_TENHANG_17', N'TENHANG', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MATHANG.Tmp_MACONGTY_18', N'MACONGTY', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MATHANG.Tmp_MALOAIHANG_19', N'MALOAIHANG', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MATHANG.Tmp_SOLUONG_20', N'SOLUONG', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MATHANG.Tmp_DONVITINH_21', N'DONVITINH', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MATHANG.Tmp_GIAHANG_22', N'GIAHANG', 'COLUMN' 
GO
ALTER TABLE dbo.MATHANG SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.MATHANG', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.MATHANG', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.MATHANG', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.LOAIHANG.MaLoaiHang', N'Tmp_MALOAIHANG_23', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.LOAIHANG.TenLoaiHang', N'Tmp_TENLOAIHANG_24', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.LOAIHANG.Tmp_MALOAIHANG_23', N'MALOAIHANG', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.LOAIHANG.Tmp_TENLOAIHANG_24', N'TENLOAIHANG', 'COLUMN' 
GO
ALTER TABLE dbo.LOAIHANG SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.LOAIHANG', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.LOAIHANG', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.LOAIHANG', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.KHACHHANG.MaKhachHang', N'Tmp_MAKHACHHANG_25', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.KHACHHANG.TenCongTy', N'Tmp_TENCONGTY_26', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.KHACHHANG.TenGiaoDich', N'Tmp_[TENGIAODICH_27', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.KHACHHANG.DiaChi', N'Tmp_DIACHI_28', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.KHACHHANG.Email', N'Tmp_EMAIL_29', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.KHACHHANG.DienThoai', N'Tmp_DIENTHOAI_30', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.KHACHHANG.Tmp_MAKHACHHANG_25', N'MAKHACHHANG', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.KHACHHANG.Tmp_TENCONGTY_26', N'TENCONGTY', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.KHACHHANG.[Tmp_[TENGIAODICH_27]', N'[TENGIAODICH', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.KHACHHANG.Tmp_DIACHI_28', N'DIACHI', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.KHACHHANG.Tmp_EMAIL_29', N'EMAIL', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.KHACHHANG.Tmp_DIENTHOAI_30', N'DIENTHOAI', 'COLUMN' 
GO
ALTER TABLE dbo.KHACHHANG SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.KHACHHANG', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.KHACHHANG', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.KHACHHANG', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.DONDATHANG.SoHoaDon', N'Tmp_SOHOADON_31', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.DONDATHANG.MaKhachHang', N'Tmp_MAKHACHHANG_32', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.DONDATHANG.MaNhanVien', N'Tmp_MANHANVIEN_33', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.DONDATHANG.NgayDatHang', N'Tmp_NGAYDATHANG_34', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.DONDATHANG.NgayGiaoHang', N'Tmp_NGAYGIAOHANG_35', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.DONDATHANG.NgayChuyenHang', N'Tmp_NGAYCHUYENHANG_36', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.DONDATHANG.NoiGiaoHang', N'Tmp_NOIGIAOHANG_37', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.DONDATHANG.Tmp_SOHOADON_31', N'SOHOADON', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.DONDATHANG.Tmp_MAKHACHHANG_32', N'MAKHACHHANG', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.DONDATHANG.Tmp_MANHANVIEN_33', N'MANHANVIEN', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.DONDATHANG.Tmp_NGAYDATHANG_34', N'NGAYDATHANG', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.DONDATHANG.Tmp_NGAYGIAOHANG_35', N'NGAYGIAOHANG', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.DONDATHANG.Tmp_NGAYCHUYENHANG_36', N'NGAYCHUYENHANG', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.DONDATHANG.Tmp_NOIGIAOHANG_37', N'NOIGIAOHANG', 'COLUMN' 
GO
ALTER TABLE dbo.DONDATHANG SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.DONDATHANG', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.DONDATHANG', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.DONDATHANG', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.CHITIETDATHANG.SoHoaDon', N'Tmp_SOHOADON_38', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.CHITIETDATHANG.MaHang', N'Tmp_MAHANG_39', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.CHITIETDATHANG.GiaBan', N'Tmp_GIABAN_40', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.CHITIETDATHANG.SoLuong', N'Tmp_SOLUONG_41', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.CHITIETDATHANG.MucGiamGia', N'Tmp_MUCGIAMGIA_42', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.CHITIETDATHANG.Tmp_SOHOADON_38', N'SOHOADON', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.CHITIETDATHANG.Tmp_MAHANG_39', N'MAHANG', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.CHITIETDATHANG.Tmp_GIABAN_40', N'GIABAN', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.CHITIETDATHANG.Tmp_SOLUONG_41', N'SOLUONG', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.CHITIETDATHANG.Tmp_MUCGIAMGIA_42', N'MUCGIAMGIA', 'COLUMN' 
GO
ALTER TABLE dbo.CHITIETDATHANG SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CHITIETDATHANG', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CHITIETDATHANG', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CHITIETDATHANG', 'Object', 'CONTROL') as Contr_Per 