/*
   11 Tháng Tám 202003:45:37 CH
   User: 
   Server: DESKTOP-PINKVLI\SQLEXPRESS
   Database: baitap
   Application: 
   By: Huy Hieu
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LOAIHANG SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.LOAIHANG', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.LOAIHANG', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.LOAIHANG', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.NHACUNGCAP SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.NHACUNGCAP', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.NHACUNGCAP', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.NHACUNGCAP', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.MATHANG
	(
	MAHANG int NOT NULL,
	TENHANG nvarchar(50) NOT NULL,
	MACONGTY int NOT NULL,
	MALOAIHANG int NOT NULL,
	SOLUONG int NOT NULL,
	DONVITINH nvarchar(50) NOT NULL,
	GIAHANG float(53) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.MATHANG ADD CONSTRAINT
	PK_MATHANG PRIMARY KEY CLUSTERED 
	(
	MAHANG
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.MATHANG ADD CONSTRAINT
	FK_MATHANG_NHACUNGCAP FOREIGN KEY
	(
	MACONGTY
	) REFERENCES dbo.NHACUNGCAP
	(
	MACONGTY
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.MATHANG ADD CONSTRAINT
	FK_MATHANG_LOAIHANG FOREIGN KEY
	(
	MALOAIHANG
	) REFERENCES dbo.LOAIHANG
	(
	MALOAIHANG
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.MATHANG SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.MATHANG', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.MATHANG', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.MATHANG', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.NHANVIEN
	(
	MANHANVIEN int NOT NULL,
	HO nvarchar(50) NOT NULL,
	TEN nvarchar(50) NOT NULL,
	NGAYSINH date NOT NULL,
	NGAYLAMVIEC nvarchar(50) NOT NULL,
	DIACHI nvarchar(MAX) NOT NULL,
	DIENTHOAI nvarchar(50) NOT NULL,
	LUONGCOBAN float(53) NOT NULL,
	PHUCAP float(53) NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.NHANVIEN ADD CONSTRAINT
	PK_NHANVIEN PRIMARY KEY CLUSTERED 
	(
	MANHANVIEN
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.NHANVIEN SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.NHANVIEN', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.NHANVIEN', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.NHANVIEN', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.KHACHHANG
	(
	MAKHACHHANG int NOT NULL,
	TENCONGTY nvarchar(50) NOT NULL,
	TENGIAODICH nvarchar(50) NOT NULL,
	DIACHI nvarchar(200) NOT NULL,
	EMAIL nvarchar(50) NULL,
	DIENTHOAI nvarchar(50) NOT NULL,
	FAX nvarchar(50) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.KHACHHANG ADD CONSTRAINT
	PK_KHACHHANG PRIMARY KEY CLUSTERED 
	(
	MAKHACHHANG
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.KHACHHANG SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.KHACHHANG', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.KHACHHANG', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.KHACHHANG', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.DONDATHANG
	(
	SOHOADON int NOT NULL,
	MAKHACHHANG int NOT NULL,
	MANHANVIEN int NOT NULL,
	NGAYDATHANG date NOT NULL,
	NGAYGIAOHANG date NOT NULL,
	NGAYCHUYENHANG date NOT NULL,
	NOIGIAOHANG nvarchar(MAX) NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.DONDATHANG ADD CONSTRAINT
	PK_DONDATHANG PRIMARY KEY CLUSTERED 
	(
	SOHOADON
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.DONDATHANG ADD CONSTRAINT
	FK_DONDATHANG_NHANVIEN FOREIGN KEY
	(
	MANHANVIEN
	) REFERENCES dbo.NHANVIEN
	(
	MANHANVIEN
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.DONDATHANG ADD CONSTRAINT
	FK_DONDATHANG_KHACHHANG FOREIGN KEY
	(
	MAKHACHHANG
	) REFERENCES dbo.KHACHHANG
	(
	MAKHACHHANG
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.DONDATHANG SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.DONDATHANG', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.DONDATHANG', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.DONDATHANG', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.CHITIETDATHANG
	(
	SOHOADON int NOT NULL,
	MAHANG int NOT NULL,
	GIABAN float(53) NOT NULL,
	SOLUONG int NOT NULL,
	MAGIAMGIA nvarchar(50) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.CHITIETDATHANG ADD CONSTRAINT
	PK_CHITIETDATHANG PRIMARY KEY CLUSTERED 
	(
	SOHOADON,
	MAHANG
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.CHITIETDATHANG ADD CONSTRAINT
	FK_CHITIETDATHANG_MATHANG FOREIGN KEY
	(
	MAHANG
	) REFERENCES dbo.MATHANG
	(
	MAHANG
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CHITIETDATHANG ADD CONSTRAINT
	FK_CHITIETDATHANG_DONDATHANG FOREIGN KEY
	(
	SOHOADON
	) REFERENCES dbo.DONDATHANG
	(
	SOHOADON
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CHITIETDATHANG SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CHITIETDATHANG', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CHITIETDATHANG', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CHITIETDATHANG', 'Object', 'CONTROL') as Contr_Per 