/*
   13 Tháng Tám 202002:11:15 CH
   User: 
   Server: DESKTOP-PINKVLI\SQLEXPRESS
   Database: CUAHANGDIENTU
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.MATHANG
	(
	MAHANG int NOT NULL IDENTITY (1, 1),
	TENHANG nvarchar(50) NOT NULL,
	CHITIETMATHANG nvarchar(100) NOT NULL,
	GIABAN float(53) NOT NULL,
	SOLUONG nchar(10) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.MATHANG ADD CONSTRAINT
	PK_MATHANG PRIMARY KEY CLUSTERED 
	(
	MAHANG
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.MATHANG SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.MATHANG', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.MATHANG', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.MATHANG', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.CHUNGTU
	(
	SOCHUNGTU int NOT NULL IDENTITY (1, 1),
	NGAYLAP date NOT NULL,
	TENKHACHHANG nvarchar(50) NOT NULL,
	DIACHIKHACHHANG nvarchar(100) NOT NULL,
	MAHANG int NOT NULL,
	SOLUONG int NOT NULL,
	DONGIA money NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.CHUNGTU ADD CONSTRAINT
	PK_CHUNGTU PRIMARY KEY CLUSTERED 
	(
	SOCHUNGTU
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.CHUNGTU ADD CONSTRAINT
	FK_CHUNGTU_MATHANG FOREIGN KEY
	(
	MAHANG
	) REFERENCES dbo.MATHANG
	(
	MAHANG
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CHUNGTU SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CHUNGTU', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CHUNGTU', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CHUNGTU', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.PHIEUTHUTIEN
	(
	SOPHIEU int NOT NULL IDENTITY (1, 1),
	SOCHUNGTU int NOT NULL,
	NGAYTHUTIEN date NOT NULL,
	SOTIEN money NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.PHIEUTHUTIEN ADD CONSTRAINT
	PK_PHIEUTHUTIEN PRIMARY KEY CLUSTERED 
	(
	SOPHIEU
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.PHIEUTHUTIEN ADD CONSTRAINT
	FK_PHIEUTHUTIEN_CHUNGTU FOREIGN KEY
	(
	SOCHUNGTU
	) REFERENCES dbo.CHUNGTU
	(
	SOCHUNGTU
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PHIEUTHUTIEN SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.PHIEUTHUTIEN', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.PHIEUTHUTIEN', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.PHIEUTHUTIEN', 'Object', 'CONTROL') as Contr_Per 